@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@font-face {
  font-family: "Gilroy";
  src: url("./font/Gilroy-Regular.ttf");
}

@font-face {
  font-family: "Gilroy";
  src: url("./font/Gilroy-Black.ttf");
  font-weight: 900;
}

@font-face {
  font-family: "Gilroy";
  src: url("./font/Gilroy-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("./font/Gilroy-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Gilroy";
  src: url("./font/Gilroy-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("./font/Gilroy-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("./font/Gilroy-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Gilroy";
  src: url("./font/Gilroy-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("./font/Gilroy-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy";
  src: url("./font/Gilroy-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("./font/Gilroy-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Gilroy";
  src: url("./font/Gilroy-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("./font/Gilroy-UltraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Gilroy";
  src: url("./font/Gilroy-UltraLightItalic.ttf");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("./font/Gilroy-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Gilroy";
  src: url("./font/Gilroy-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("./font/Gilroy-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy";
  src: url("./font/Gilroy-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

h1 {
  font-family: "Gilroy", sans-serif;
}

header {
  background: linear-gradient(90deg, black 2%, transparent 98%),
    url(./assets/bg.png);
  color: white;
  width: 100dvw;
  height: 100dvh;
  background-position: center;
}

header a {
  text-decoration: none;
  color: white !important;
}

header a:not(.navbar-brand):hover {
  color: #545ffd !important;
}

.btn-1 {
  padding: 8px 16px !important;
}

.btn-primary {
  background-color: #473bf0;
  color: white;
  border-radius: 5px;
  padding: 1em 2em;
  border: none;
  &:hover {
    background-color: color-mix(in srgb, #473bf0 80%, black 20%);
  }
}

.card {
  border-radius: 17px !important;
}

.card-body span {
  cursor: pointer;
  font-weight: 600;
}

.choose-us {
    background-color: #F4F7FA;
}

.number {
  font-family: "Rubik", sans-serif;
  background-color: #e2e6fa;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #473bf0;
  text-align: center;
  align-content: center;
}

.new {
    background-color: #473bf0;
    color: white !important;
    display: grid;
    place-items: center;
    height: 100px;
}

.new p {
    margin-bottom: 0;
}

.new-1 {
    background-color: #fff;
    color: #473bf0;
    width: fit-content;
    height: fit-content;
    border-radius: 50px;
    padding: 4px 8px;
    font-weight: 600;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.cta {
  background: url(./assets/bg-1.png), rgba(0, 0, 0, .9);
}

form {
  background-color: white;
  color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 400px;
}

label, select {
  margin-bottom: 10px;
  font-weight: 500;
}

input, select {
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 8px 16px;
}

select, option {
  cursor: pointer;
  margin-bottom: 20px;
}

.btn-2 {
  border-radius: 8px;
}

.consultancy {
  font-family: "Gilroy", sans-serif;
}

.btn-3 {
  border-radius: 8px;
  padding: 8px 16px;
}

.text-blurple {
  color: #473bf0;
}

@media screen and (max-width: 1024px) {
  .footer-container {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .new p {
    padding: 0;
    text-wrap: wrap;
  }

  .new p span {
    text-wrap: wrap;
  }
}

@media screen and (max-width: 425px) {
  .footer-container {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr);
  }
  
  .new {
    height: 150px;
    max-width: fit-content;
  }

  .new p {
    padding: 0px;
    display: flex;
    max-width: 90% !important;
    flex-direction: column;
    justify-content: center;
    max-width: fit-content;
    text-align: center;
  }

  .new .row {
    display: flex;
    justify-content: center;
    max-width: 90%;
  }

  .new p span {
    text-wrap: wrap;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
  }
}

@media screen and (max-width: 375px) {
  .footer-container {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr);
  }
  
  .new {
    height: 150px;
    max-width: fit-content;
  }

  .new p {
    padding: 2px;
    text-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: fit-content;
    text-align: center;
    word-wrap: break-word;
    max-width: 90%;
  }

  .new .row {
    max-width: 90%;
  }

  .new p span {
    text-wrap: wrap;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact button,
  .contact input {
    width: 100%;
  }
}